<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

emp_add

<!--  action="emp_add_act" => myflask 에 있는 def emp_add_act()로 보낸 후 파라미터name값 받아서처리    -->
<form action="emp_add_act" method="post"> 
	<table border='1px'>
		<tr>
			<td>아이디</td>
			<td><input type="text" name="e_id" value="" /></td>
		</tr>
		<tr>
			<td>이름</td>
			<td><input type="text" name="e_name" value="" /></td>
		</tr>
		<tr>
			<td>성별</td>
			<td><input type="text" name="sex" value="" /></td>
		</tr>
		<tr>
			<td>주소</td>
			<td><input type="text" name="addr" value="" /></td>
		</tr>
	</table>
	<input type="submit" value="실행" />
</form>


</body>
</html>