<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat Room</title>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
	<script>	
		var sock; 
		function fn_init() {
			sock = io.connect('http://127.0.0.1:9999');  //sock => 웹소캣의 객체 , http://127.0.0.1:9999여기 연결 
            sock.on('connect', function(){
                console.log("I connect");
            });

            sock.on('message', function(msg){ //받는거 
                console.log(msg);
            });

		}
	
		function myclick() {
			sock.send("myclick");  //보내는 역할 
		}
	
	</script>
</head>
<body onload="fn_init()">



    <a href="javascript:myclick()">클릭</a>
    
    
    
</body>
</html>